* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 1rem 2rem;
    border-bottom: 1px solid #333;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #c0fd00;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#nawigacja ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

#nawigacja ul a{
    color: #ffffffce;
    text-decoration: none;
    transition: color 0.4s;
    font-weight: 600;
}

#nawigacja ul a:hover{
    color:#c0fd00;
    text-decoration: underline;
}


body {
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#opis{
    background-color: #1e1e1e;
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 550px;
    text-align: center;
}

#opis ul{
    margin-bottom: 1.5rem;
    text-align: left;
}

h1{ 
    margin-bottom: 1.2rem; 
    font-size: 1.8rem; 
    color: #c0fd00;
}

h2, h3{ 
    margin-bottom: 1.2rem; 
    font-size: 1.5rem; 
    color: #c0fd00;
}

#tekst{
    display: table;
    justify-content:end;
}

ul li{
    padding: 5px;
    justify-content: start;
}

#opis p{
    font-size: 1.2rem;
}

footer{
    display: block;
    text-align: center;
    padding: 1.5rem;
    background-color: #1e1e1e;
    border-top: 1px solid #333;
    color: gray;
    font-size: 0.9rem;
}